@model IsTakip.Core.Classes.TedarikciClasses.Tedarikci

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tedarikci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturanKullanciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlusturanKullanciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuncelleyenKullanciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuncelleyenKullanciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
